<a href="https://colab.research.google.com/github/guillaumebrethes/Colaboratory/blob/main/Billionaires_Statistics_Dataset_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')


billio_data_set = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Billionaires-Statistics-Dataset.csv", sep = ",")
df = billio_data_set.copy()
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891

In [34]:
print(billio_data_set.equals(df))

True

In [35]:
df_columns_name = df.columns
df_columns_name

Index(['rank', 'finalWorth', 'category', 'personName', 'age', 'country',
       'city', 'source', 'industries', 'countryOfCitizenship', 'organization',
       'selfMade', 'status', 'gender', 'birthDate', 'lastName', 'firstName',
       'title', 'date', 'state', 'residenceStateRegion', 'birthYear',
       'birthMonth', 'birthDay', 'cpi_country', 'cpi_change_country',
       'gdp_country', 'gross_tertiary_education_enrollment',
       'gross_primary_education_enrollment_country', 'life_expectancy_country',
       'tax_revenue_country_country', 'total_tax_rate_country',
       'population_country', 'latitude_country', 'longitude_country'],
      dtype='object')

#  Key Features

* **rank**: The ranking of the billionaire in terms of wealth.
* **finalWorth**: The final net worth of the billionaire in U.S. dollars.
* **category**: The category or industry in which the billionaire's business operates.
* **personName:** The full name of the billionaire.
* **age**: The age of the billionaire.
* **country**: The country in which the billionaire resides.
* **city**: The city in which the billionaire resides.
* **source**: The source of the billionaire's wealth.
* **industries**: The industries associated with the billionaire's business interests.
* **countryOfCitizenship**: The country of citizenship of the billionaire.
* **organization**: The name of the organization or company associated with the billionaire.
* **selfMade**: Indicates whether the billionaire is self-made (True/False).
* **status**: "D" represents self-made billionaires (Founders/Entrepreneurs) and "U" indicates inherited or unearned wealth.
* **gender**: The gender of the billionaire.
* **birthDate**: The birthdate of the billionaire.
* ~~**lastName**: The last name of the billionaire.~~
* ~~**firstName**: The first name of the billionaire.~~
* **title**: The title or honorific of the billionaire.
* **date**: The date of data collection.
* **state**: The state in which the billionaire resides.
* **residenceStateRegion**: The region or state of residence of the billionaire.
* **birthYear**: The birth year of the billionaire.
* **birthMonth**: The birth month of the billionaire.
* **birthDay**: The birth day of the billionaire.
* **cpi_country**: Consumer Price Index (CPI) for the billionaire's country.
* **cpi_change_country**: CPI change for the billionaire's country.
* **gdp_country**: Gross Domestic Product (GDP) for the billionaire's country.
* **gross_tertiary_education_enrollment**: Enrollment in tertiary education in the billionaire's country.
* **gross_primary_education_enrollment_country**: Enrollment in primary education in the billionaire's country.
* **life_expectancy_country**: Life expectancy in the billionaire's country.
* **tax_revenue_country_country**: Tax revenue in the billionaire's country.
* **total_tax_rate_country**: Total tax rate in the billionaire's country.
* **population_country**: Population of the billionaire's country.
* **latitude_country**: Latitude coordinate of the billionaire's country.
* **longitude_country**: Longitude coordinate of the billionaire's country.

In [36]:
df.shape

(2640, 35)

In [ ]:
# type of the columns
df.dtypes

In [ ]:
# NAN ?
df.isna().sum()

In [39]:
# delete columns : "lastName" and "firstName" because there are NAN and == a column "personName" without NAN
df = df.drop(["lastName", "firstName"], axis = 1)
df.isna().sum()

rank                                             0
finalWorth                                       0
category                                         0
personName                                       0
age                                             65
country                                         38
city                                            72
source                                           0
industries                                       0
countryOfCitizenship                             0
organization                                  2315
selfMade                                         0
status                                           0
gender                                           0
birthDate                                       76
title                                         2301
date                                             0
state                                         1887
residenceStateRegion                          1893
birthYear                                       76
birthMonth                                      76
birthDay                                        76
cpi_country                                    184
cpi_change_country                             184
gdp_country                                    164
gross_tertiary_education_enrollment            182
gross_primary_education_enrollment_country     181
life_expectancy_country                        182
tax_revenue_country_country                    183
total_tax_rate_country                         182
population_country                             164
latitude_country                               164
longitude_country                              164
dtype: int64

In [42]:
# Why NAN in "age" and "birthDate" are not equal ?
df_age = df["age"]                   # nan = 65
df_birthDate = df["birthDate"]       # nan = 76

df_birthDate_age_concat =